.App {
  width: 100vw;
  padding: 5vh 0px;
  height: 100vh;
}

.TableDate{
  text-align: center;
  font-size: 24px;
}

.TableContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin: 10px 0px;
}

.TableButton {
	background-color:#fff;
  border: 2px solid #4365c2;  
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-size:16px;
  width: 100px;
  height: 30px;
	text-decoration:none;
}
.TableButton:hover {
  position:relative;
	top:2px;
}
.TableButton:active {
	position:relative;
	top:1px;
}

        
.Table{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1250px;
}

.AdditionalTools {
  display: inline-flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  user-select: none ;
}
.AdditionalTools input:last-child {
  margin-left: 5px;
}

.AdditionalTools input {
  width: 250px;
  height: 20px;
  border: 2px solid #4365c2 ;
  border-radius: 4px;
}
.AdditionalTools select {
  width: 120px;
  height: 26px;
  border: 2px solid #4365c2;
  border-radius: 4px;
}
.AdditionalTools button {
  width: 120px;
  height: 26px;
  background-color: #fff;
  border: 2px solid #2abf9f;
  border-radius: 4px;
}
.AdditionalTools button:hover {
  position:relative;
	top:1px;
  cursor: pointer;
}

.AddData {
  display: inline-flex;
  column-gap: 5px;
}

.infoMessagesuccess {
  color: rgb(79, 216, 79);
  position: absolute;
  top: 20px;
}
.infoMessageerror{
  color: rgb(255, 102, 0);
  position: absolute;
  top: 20px;
}
.warning {
  width: 100%;
  color: rgb(255, 115, 0);
  text-align: center;
}
.square_inactive,
.square_active {
  width: 26px;
  height: 26px;
  border-radius: 4px;
}

.square_inactive:hover,
.square_active:hover {
  cursor: pointer;
	position:relative;
	top:1px;
}


th {
  width: 29px;
  height: 29px;
  text-align: center;
  border-bottom: 2px solid black;

}

th:first-child{
  width: 200px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;

  
}

td {
  text-align: center;
}
