.PageHeader {
  display: inline-flex;
  column-gap: 5px;
}

.AddData {
  display: inline-flex;
  column-gap: 5px;
}

.infoMessagesuccess {
  color: green;
}
.infoMessageerror{
  color: red;
}


.square_active {
  width: 25px;
  height: 25px;
}

.square_inactive {
  width: 25px;
  height: 25px;
}